body, html {
    height: 100svh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand medium';
    position: relative;
    user-select: none;
    background-color: #f5f1ec;
}

.top-section {
    background-color: transparent;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    height: calc(100svh - 10svh);
    padding: 2vh 0 10vh 0;
}

.bottom-section {
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: inherit;
}

.text-box {
    position: absolute;
    top: 3vh;
    left: 6vw;
    font-size: 6vw;
    color: #c0bcb7;
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-grow: 1;
}

.forward-arrow {
    position: absolute;
    top: 2vh;
    right: 5vw;
    width: 24vw;
    height: 12vw;
    background-color: #00d254;
    border: 0.6vw solid #ffffff;
    border-radius: 3vw;
    box-shadow: 0px 0.5vw 1vw rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.arrow {
    width: 10vw;
    height: auto;
}

.chat-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    box-sizing: border-box;
}

.message-box {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 70%;
    height: 20vw;
    padding: 4vw;
    border-radius: 4vw;
    box-sizing: border-box;
    border: 0.5vw solid;
    background-color: white;
    font-size: 4vw;
}

.message-box.blue-border {
    border-color: #ff6e99;
}

.message-box.yellow-border {
    border-color: #ffe988;
}

.photo {
    width: 20vw;
    height: 20vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 2vw;
    flex-shrink: 0;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-0.5vw);
    }
    100% {
        transform: translateX(0px);
    }
}